*,html,body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


.body{
    width: 100%;
    height: 100vh;
    background-color: #051224;
    overflow-x: hidden;
}

.Navigator{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: transparent;
}

.Brand{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left: 5%;
    margin-right: 7%;
}

.Depan{
    font-weight: 700;
    color: whitesmoke;
    padding-right: 5px;
}

.Belakang{
    font-weight: 500;
    color: crimson;
    
}

.Navigator ul{
    list-style: none;
    margin-top: 13px;
    display: flex;
    flex-direction: row;
}

.Navigator li a{
    color: #6e7076;
    font-size: 13px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#active{
    color: whitesmoke;
    background-color:#3f5478 ;
    border-radius: 5px;
}

.Navigator li a:hover{
    color: whitesmoke;
    transition: all .3s ease-in-out;
}


/* Drawer*/
.List-Nav-toggle{
    display: none;
    position: relative;
    margin-right: 5px;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
}

.List-Nav-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -7px;
    top:-3px;
    opacity: 0%;
    cursor: pointer;
    z-index: 3;
}

.List-Nav-toggle span{
    display: block;
    width: 21px;
    height: 2px;
    background-color: antiquewhite;
    transition: 0.3s;
}

/* ============== */

/* == Drawer Animasi == */

.List-Nav-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.List-Nav-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.List-Nav-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(4px,0);
}
.List-Nav-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(2px,0);
}
.List-Nav-toggle input:checked ~ span:nth-child(3){
    transform: scale(0);
}

/* ==================== */


/*== Responsive ==*/

@media screen and (max-width :576px){
    .Navigator ul{
        display: absolute;
        background-color: #051224;
        flex-direction: column;
        right: 0;
        top: 0;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        z-index: 1;
        transform: translateX(110%);
        transition: all 1s;

    }
    .List-Nav-toggle{
        display: flex;
    }

    .Navigator ul.slide{
        transform: translateX(0);
    }

    .slide{
        padding: 8px 50px 12px 50px ;
    }


}

/*================*/


.ContentPlace{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 55vh;
    background-color: transparent;
}

.ContainerContent{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 65vh;
    border-radius: 45px;
    background-color: #152238;
    opacity: 30%;
}

.slidecontent{
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.content h3{
    display: none;
}

.content{
    height: 55vh;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    flex: 1;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    filter: blur(4px);

}

.content.active{
    filter: blur(0px);
    flex: 10;
}

.content.active h3{
    display: block;
    opacity: 1;
    margin-top: 0px;
    text-align: center;
}

.content input{
    height: 450px;
    width: 259px;
    opacity: 100;
    cursor: pointer;
}

.content.active div{
    height: 50%;
    width: 100%;
    background-color: transparent;
}

.footer{
    margin-top: 10%;
    width:100%;
    height: 25vh;
    margin-top: 15%;
    opacity: 30%;
    background: linear-gradient(#051224, #182c4e, #3f5478);;
}

.containerfooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top {
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lirik{
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

span{
    color: wheat;
    text-align: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}